.ribbon {
  width: 200px;
  background-color: #666;
  opacity: 0.75;
  position: fixed;
  top: 25px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #eee;
  box-shadow: 0 0 5px rgba(0 0 0 / 30%);
  overflow: hidden;
  z-index: 2147483647;
}

/* Position Variants */
.ribbon.top-left {
  left: -50px;
  transform: rotate(-45deg);
}

.ribbon.top-right {
  right: -50px;
  left: auto;
  transform: rotate(45deg);
}

/* Color Variants */
.ribbon.red {
  background-color: red;
}

.ribbon.green {
  background-color: green;
}

.ribbon.blue {
  background-color: blue;
}

.ribbon.yellow {
  background-color: yellow;
}
